<h1><%= @spec.title %></h1>

<% @entries.each do |entry| %>
  <%= entry_header(entry).html_safe %>
  <blockquote><%= entry.description %></blockquote>
  <div>
      <%= link_to 'Edit', edit_organization_specification_entry_path(@spec.organization, @spec, entry) %>
    | <%= link_to 'Delete', organization_specification_entry_path(@spec.organization, @spec, entry), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% if !entry.number.nil? %>
      | <%= link_to 'New entry', new_organization_specification_entry_path(@spec.organization, @spec, :parent_number => "#{entry.number_description}") %>
    </div>
  <% end %>
<% end %>

<div>
    <%= link_to 'New entry', new_organization_specification_entry_path(@spec.organization, @spec) %>
  | <%= link_to "Back", organization_specifications_path(@spec.organization) %>
</div>
